.App {
  font-family: sans-serif;
  text-align: center;
}

iframe {
  pointer-events: none;
}

body {
  font-family: ArminGrotesk, ArminGroteskBlack, ArminGroteskSemiBold, sans-serif;
  background: #f6f6eb;
  margin: 0;
}
